defaults
  mode http
  timeout client 10s
  timeout connect 5s
  timeout server 10s
  timeout http-request 10s

frontend myfrontend
  bind *:80
  bind *:443
  acl robots path .robots.txt
  acl acme path_beg /.well-known/acme-challenge
  http-request redirect scheme https unless { ssl_fc } || robots || acme
  use_backend cosmae_django if {path_beg /api}
  default_backend cosmae_ui

backend cosmae_ui
  server server1 cosmae_ui:3000

backend cosmae_django
  http-request set-path %[path,regsub(/api,/cosmae/api)]
  server server1 cosmae_django:8000
